<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# Проект «Анализ вакансий из HeadHunter»

In [89]:
import pandas as pd
import psycopg2

In [90]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python

In [91]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

## 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в базе (вакансии находятся в таблице `vacancies`).

In [17]:
# текст запроса
query_3_1 = f'''select
            count(id)
            from vacancies

            '''

In [18]:
# результат запроса
df_3_1 = pd.read_sql_query(query_3_1, connection)
df_3_1

<ipython-input-18-f33310df885f>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3_1 = pd.read_sql_query(query_3_1, connection)

   count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица `employers`).

In [19]:
# текст запроса
query_3_2 = f'''select
            count(DISTINCT id)
            from employers

            '''

In [22]:
# результат запроса
df_3_2 = pd.read_sql_query(query_3_2, connection)
print(df_3_2.iloc[0,0])

23501

<ipython-input-22-8cf3081b75bf>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3_2 = pd.read_sql_query(query_3_2, connection)

3. Посчитайте с помощью запроса количество регионов (таблица `areas`).

In [23]:
# текст запроса
query_3_3 = f'''select
            count(DISTINCT id)
            from areas

            '''

In [24]:
# результат запроса
df_3_3 = pd.read_sql_query(query_3_3, connection)
print(df_3_3.iloc[0,0])

1362

<ipython-input-24-76520c621435>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3_3 = pd.read_sql_query(query_3_3, connection)

4. Посчитайте с помощью запроса количество сфер деятельности в базе (таблица `industries`).

In [25]:
# текст запроса
query_3_4 = f'''select
            count(distinct id)
            from industries

            '''

In [26]:
# результат запроса
df_3_4 = pd.read_sql_query(query_3_4, connection)
df_3_4

<ipython-input-26-514047abcccb>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3_4 = pd.read_sql_query(query_3_4, connection)

   count
0    294

***

In [ ]:
#Выводы по предварительному анализу данных:
#В базе данных зарегистрировано 49 197 вакансий, что отражает значительный объем информации, доступный для анализа и поиска потенциальными соискателями.
#Таблица employers включает данные о 23 501 компании, что подтверждает активное участие работодателей в публикации вакансий на платформе.
#Указание 1 362 регионов в таблице areas подчеркивает широкий географический охват вакансий, что важно для локализованного поиска работы.
#294 уникальные сферы деятельности в таблице industries демонстрируют разнообразие профессиональных областей, представленных в базе, что расширяет возможности выбора для специалистов разных профилей.

## 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (`cnt`) вакансий в каждом регионе (`area`).
Отсортируйте по количеству вакансий в порядке убывания.

In [119]:
# текст запроса
query_4_1 = """
SELECT a.name AS area_name, COUNT(v.id) AS cnt
FROM public.areas a
LEFT JOIN public.vacancies v ON a.id = v.area_id
GROUP BY a.id, a.name
ORDER BY cnt DESC;
"""

In [120]:
# результат запроса
df_4_1 = pd.read_sql_query(query_4_1, connection)
df_4_1

<ipython-input-120-e0d1ca36e390>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_4_1 = pd.read_sql_query(query_4_1, connection)

                 area_name   cnt
0                   Москва  5333
1          Санкт-Петербург  2851
2                    Минск  2112
3              Новосибирск  2006
4                   Алматы  1892
...                    ...   ...
1357            Балакирево     0
1358               Мексика     0
1359               Пугачев     0
1360           Долгоруково     0
1361  Республика Татарстан     0

[1362 rows x 2 columns]

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [29]:
# текст запроса
query_4_2 = f'''SELECT
         COUNT(v.id)
          FROM vacancies v
         WHERE salary_from IS NOT NULL OR salary_to IS NOT NULL
        '''

In [30]:
# результат запроса
df_4_2 = pd.read_sql_query(query_4_2, connection)
df_4_2

<ipython-input-30-a68fde1d0c96>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_4_2 = pd.read_sql_query(query_4_2, connection)

   count
0  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до **целого числа**.

In [31]:
# текст запроса
query_4_3 = f'''SELECT
    ROUND(AVG(salary_from)),
    ROUND(AVG(salary_to))
FROM
   vacancies
        '''

In [32]:
# результат запроса
df_4_3 = pd.read_sql_query(query_4_3, connection)
df_4_3

<ipython-input-32-5722848d6806>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_4_3 = pd.read_sql_query(query_4_3, connection)

     round     round
0  71065.0  110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (`schedule`) и типа трудоустройства (`employment`), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [33]:
# текст запроса
query_4_4 = f'''SELECT
    COUNT(*) AS vacancy_count,
    v.schedule,
    v.employment
FROM
    vacancies v
    JOIN employers e ON e.id = v.employer_id
GROUP BY
    v.schedule,
    v.employment
ORDER BY
    vacancy_count DESC
LIMIT 1 OFFSET 1;

        '''

In [34]:
# результат запроса
df_4_4 = pd.read_sql_query(query_4_4, connection)
df_4_4

<ipython-input-34-f3d798c9d673>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_4_4 = pd.read_sql_query(query_4_4, connection)

   vacancy_count          schedule        employment
0           7802  Удаленная работа  Полная занятость

5. Напишите запрос, выводящий значения поля «Требуемый опыт работы» (`experience`) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [35]:
# текст запроса
query_4_5 = f'''SELECT
    COUNT(*) AS vacancy_count,
    v.experience
FROM
    vacancies v
GROUP BY v.experience
ORDER BY
    vacancy_count
 '''

In [36]:
# результат запроса
df_4_5 = pd.read_sql_query(query_4_5, connection)
df_4_5

<ipython-input-36-a407e816ef92>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_4_5 = pd.read_sql_query(query_4_5, connection)

   vacancy_count          experience
0           1337         Более 6 лет
1           7197           Нет опыта
2          14511       От 3 до 6 лет
3          26152  От 1 года до 3 лет

***

In [ ]:
#Выводы по детальному анализу вакансий:
#Географическое распределение:
#Лидируют регионы:
#Москва,
#Санкт-Петербург,
#Минск,
#Новосибирск,
#Алматы.
#Это подтверждает концентрацию предложений труда в крупных городах.
#Данные о зарплате:
#Только 24 073 вакансии содержат информацию о зарплате (нижняя или верхняя граница).
#Средние значения:
#Нижняя граница — 71 065.0,
#Верхняя граница — 110 537.0.
#Эти значения предоставляют ориентиры для оценки зарплатных ожиданий соискателей.
#Условия трудоустройства:
#7 802 вакансии предлагают удаленную работу на полную занятость — наиболее распространенное сочетание параметров.
#Распределение по другим комбинациям графика (schedule) и типа занятости (employment) характеризует текущие тенденции на рынке труда.
#Требования к опыту:
#26 152 вакансий требуют опыта от 1 года до 3 лет — наиболее востребованная категория.
#Наименьший спрос на специалистов с опытом более 6 лет — 1 337 вакансий.
#Данное распределение позволяет оценить приоритеты работодателей при подборе кадров.

## 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [37]:
# текст запроса
query_5_1 = f'''SELECT
    e.name,
    COUNT(v.name) AS vacancy_count
FROM
    employers e
    JOIN vacancies v ON e.id = v.employer_id
GROUP BY e.name
ORDER BY vacancy_count DESC
limit 5
'''

In [38]:
# результат запроса
df_5_1 = pd.read_sql_query(query_5_1, connection)
df_5_1

<ipython-input-38-e71d17c95279>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_5_1 = pd.read_sql_query(query_5_1, connection)

            name  vacancy_count
0         Яндекс           1933
1     Ростелеком            491
2       Тинькофф            444
3           СБЕР            428
4  Газпром нефть            331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [40]:
# текст запроса
query_5_2 = f'''select a.name,

           count(distinct e.id) cnt_emp,

           count(distinct v.id) cnt_vac

from areas a

         left join employers e on a.id = e.area

         left join vacancies v on v.area_id = a.id

where v.id is null

group by a.id

order by cnt_emp desc
'''

In [41]:
# результат запроса
df_5_2 = pd.read_sql_query(query_5_2, connection)
df_5_2

<ipython-input-41-14e6adc3ead1>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_5_2 = pd.read_sql_query(query_5_2, connection)

                   name  cnt_emp  cnt_vac
0                Россия      410        0
1             Казахстан      207        0
2    Московская область       75        0
3    Краснодарский край       19        0
4    Ростовская область       18        0
..                  ...      ...      ...
588             Скидель        0        0
589          Белоозерск        0        0
590           Орловский        0        0
591          Павловская        0        0
592             Таксимо        0        0

[593 rows x 3 columns]

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [43]:
# текст запроса
query_5_3 = f'''SELECT
    e.name AS employer_name,
    COUNT(DISTINCT v.area_id) AS num_regions
FROM
    employers e
    JOIN vacancies v ON e.id = v.employer_id
GROUP BY
    e.name
ORDER BY
    num_regions DESC
LIMIT 1
         '''

In [44]:
# результат запроса
df_5_3 = pd.read_sql_query(query_5_3, connection)
df_5_3

<ipython-input-44-e83115aae06f>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_5_3 = pd.read_sql_query(query_5_3, connection)

  employer_name  num_regions
0        Яндекс          181

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [51]:
# текст запроса
query_5_4 = '''
SELECT
    COUNT(e.id) AS num_employers_without_industry
FROM
    employers e
LEFT JOIN employers_industries i ON e.id = i.employer_id
WHERE
    industry_id IS NULL;
'''

In [52]:
# результат запроса
df_5_4 = pd.read_sql_query(query_5_4, connection)
df_5_4

<ipython-input-52-59cd48778173>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_5_4 = pd.read_sql_query(query_5_4, connection)

   num_employers_without_industry
0                            8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [53]:
# текст запроса
query_5_5 = f'''SELECT
    e.name
FROM
    employers e
JOIN employers_industries i ON e.id = i.employer_id
GROUP BY e.id
HAVING COUNT(i.industry_id) = 4
ORDER BY e.name
LIMIT 1 OFFSET 2;

    '''

In [54]:
# результат запроса
df_5_5 = pd.read_sql_query(query_5_5, connection)
df_5_5

<ipython-input-54-55a59fdce066>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_5_5 = pd.read_sql_query(query_5_5, connection)

   name
0  2ГИС

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана «Разработка программного обеспечения».

In [56]:
# текст запроса
query_5_6 = f'''SELECT
    i.name AS name_area,
    COUNT(e.employer_id) AS empl_count
FROM
    industries i
JOIN employers_industries e ON e.industry_id = i.id
WHERE i.name = 'Разработка программного обеспечения'
GROUP BY i.name;

'''

In [57]:
# результат запроса
df_5_6 = pd.read_sql_query(query_5_6, connection)
df_5_6

<ipython-input-57-b8cbf15ac659>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_5_6 = pd.read_sql_query(query_5_6, connection)

                             name_area  empl_count
0  Разработка программного обеспечения        3553

7. Для компании «Яндекс» выведите список [городов-миллионников](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8), в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку "Total" с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

    Если возникнут трудности с этим заданием, посмотрите материалы модуля 6.4 «Как получать данные из веб-источников и API».

In [58]:
from urllib.parse import quote_plus
url = quote_plus('https://ru.wikipedia.org/wiki/Города-миллионеры_России', safe=':/')
tables = pd.read_html(url)
cities = tuple(tables[0]['Город'])
cities

('Москва',
 'Санкт-Петербург',
 'Новосибирск',
 'Екатеринбург',
 'Казань',
 'Красноярск',
 'Нижний Новгород',
 'Челябинск',
 'Уфа',
 'Самара',
 'Ростов-на-Дону',
 'Краснодар',
 'Омск',
 'Воронеж',
 'Пермь',
 'Волгоград')

In [59]:
import requests
import pandas as pd

url = 'https://ru.wikipedia.org/wiki/Города-миллионеры_России'
response = requests.get(url)

tables = pd.read_html(response.content)
mln_cities = tuple(tables[0]['Город'])
mln_cities

('Москва',
 'Санкт-Петербург',
 'Новосибирск',
 'Екатеринбург',
 'Казань',
 'Красноярск',
 'Нижний Новгород',
 'Челябинск',
 'Уфа',
 'Самара',
 'Ростов-на-Дону',
 'Краснодар',
 'Омск',
 'Воронеж',
 'Пермь',
 'Волгоград')

In [62]:
# текст запроса
query_5_7 = """
WITH city_vacancy_counts AS (
    SELECT a.name AS city, COUNT(v.id) AS vacancy_count
    FROM public.vacancies v
    JOIN public.areas a ON v.area_id = a.id
    JOIN public.employers e ON v.employer_id = e.id
    WHERE e.name = 'Яндекс' AND a.name IN (
        'Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург',
        'Казань', 'Красноярск', 'Нижний Новгород', 'Челябинск',
        'Уфа', 'Самара', 'Ростов-на-Дону', 'Краснодар',
        'Омск', 'Воронеж', 'Пермь', 'Волгоград'
    )
    GROUP BY a.name
)
SELECT city, vacancy_count
FROM city_vacancy_counts
UNION ALL
SELECT 'Total', SUM(vacancy_count)
FROM city_vacancy_counts
ORDER BY vacancy_count ASC;
"""

In [63]:
# результат запроса
df_5_7 = pd.read_sql_query(query_5_7, connection)
df_5_7

<ipython-input-63-0bbb2c17c37c>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_5_7 = pd.read_sql_query(query_5_7, connection)

               city  vacancy_count
0              Омск           21.0
1         Челябинск           22.0
2        Красноярск           23.0
3         Волгоград           24.0
4             Пермь           25.0
5            Казань           25.0
6    Ростов-на-Дону           25.0
7            Самара           26.0
8               Уфа           26.0
9         Краснодар           30.0
10          Воронеж           32.0
11      Новосибирск           35.0
12  Нижний Новгород           36.0
13     Екатеринбург           39.0
14  Санкт-Петербург           42.0
15           Москва           54.0
16            Total          485.0

***

In [ ]:
#Выводы по анализу работодателей:
#Топ работодателей по вакансиям:
#Яндекс занимает 1-е место, Газпром нефть — 5-е место в рейтинге компаний по количеству опубликованных вакансий.
#Работодатели без вакансий:
#Наибольшая доля работодателей, не размещающих вакансии, концентрируется в России.
#Географическое присутствие:
#Яндекс демонстрирует наиболее широкое представительство — вакансии компании доступны в 181 регионе.
#Распределение по сферам деятельности:
#8 419 работодателей не указали отраслевую принадлежность.
#3 553 компании заявили сферу деятельности как «Разработка программного обеспечения».
#Локализация вакансий Яндекса:
#В ключевых городах-миллионниках (Санкт-Петербург, Москва, Екатеринбург, Нижний Новгород, Новосибирск) компания предлагает 485 вакансий.

## 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

    Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова `'data'` или `'данн'`.

    *Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [64]:
# текст запроса
query_6_1 = f'''SELECT
    COUNT(v.name)
FROM
    vacancies v
WHERE
    lower(v.name) LIKE '%data%' OR lower(v.name) LIKE '%данн%'  --мы делаем запрос без учета регистра--
     '''

In [65]:
# результат запроса
df_6_1 = pd.read_sql_query(query_6_1, connection)
df_6_1

<ipython-input-65-e8ca8a3733ce>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_6_1 = pd.read_sql_query(query_6_1, connection)

   count
0   1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
    * 'data scientist'
    * 'data science'
    * 'исследователь данных'
    * 'ML' (здесь не нужно брать вакансии по HTML)
    * 'machine learning'
    * 'машинн%обучен%'

    **В следующих заданиях мы продолжим работать с вакансиями по этому условию.**

    Считаем вакансиями для специалистов уровня Junior следующие:
    + в названии есть слово “junior” **или**
    + требуемый опыт — «Нет опыта» **или**
    + тип трудоустройства — «Стажировка».

In [66]:
# текст запроса
query_6_2 = f'''select
    count(v.name)

from vacancies v

WHERE
(
    (name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name ILIKE '%ML%') AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%')
    OR (name ILIKE '%машинн%обучен%')
    AND (key_skills IS NOT NULL)
)

    AND (v.name ILIKE '%junior%'
    OR v.experience ILIKE '%Нет опыта%'
    OR v.employment ILIKE '%Стажировка%')

     '''

In [67]:
# результат запроса
df_6_2 = pd.read_sql_query(query_6_2, connection)
df_6_2

<ipython-input-67-b7a554361891>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_6_2 = pd.read_sql_query(query_6_2, connection)

   count
0     51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или Postgres?

    *Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [70]:
# текст запроса
query_6_3 = '''select
    count(v.name)
from vacancies v
WHERE
(
    ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name ILIKE '%ML%') AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%')
    OR (name ILIKE '%машинн%обучен%'))
    AND (key_skills ILIKE '%SQL%' OR key_skills ILIKE '%postgres%'))
    '''

In [71]:
# результат запроса
df_6_3 = pd.read_sql_query(query_6_3, connection)
df_6_3

<ipython-input-71-8a4199a81e3b>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_6_3 = pd.read_sql_query(query_6_3, connection)

   count
0    229

4. Проверьте, насколько популярен Python в требованиях работодателей к DS. Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

    *Это можно сделать помощью запроса, аналогичного предыдущему.*

In [72]:
# текст запроса
query_6_4 = f''' select
    count(v.name)
from vacancies v
WHERE
(
    ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name ILIKE '%ML%') AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%')
    OR (name ILIKE '%машинн%обучен%'))
    AND key_skills ILIKE '%Python%' )
          '''

In [73]:
# результат запроса
df_6_4 = pd.read_sql_query(query_6_4, connection)
df_6_4

<ipython-input-73-95116ecfece2>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_6_4 = pd.read_sql_query(query_6_4, connection)

   count
0    357

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до **двух знаков после точки-разделителя**.

In [74]:
# текст запроса
query_6_5 = f'''SELECT
    AVG((LENGTH(v.key_skills) - LENGTH(replace(v.key_skills,CHR(9),'')))::integer+1) as result
FROM vacancies v

where (name ilike '%data scientist%'

           or name ilike '%data science%'

           or name ilike '%исследователь данных%'

           or (name like '%ML%' and name not ilike '%HTML%')

           or name ilike '%machine learning%' or name ilike '%машинн%обучен%'

           )
        '''

In [75]:
# результат запроса
df_6_5 = pd.read_sql_query(query_6_5, connection)
df_6_5

<ipython-input-75-1cefb534f424>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_6_5 = pd.read_sql_query(query_6_5, connection)

     result
0  6.406032

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в среднем указывают для каждого типа требуемого опыта (уникальное значение из поля `experience`).

    При решении задачи примите во внимание следующее:
    1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
    2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
    3. Если в расчётах участвует `null`, в результате он тоже даст `null` (посмотрите, что возвращает запрос `select 1 + null`). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит `null` на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

    Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до **целого числа**.

In [80]:
# текст запроса
query_6_6 = f'''SELECT experience,
       ROUND(AVG(coalesce((v.salary_from + v.salary_to) / 2, v.salary_from, v.salary_to)), 0)
FROM vacancies v
WHERE (salary_from IS NOT NULL OR salary_to IS NOT NULL)
      AND (name ILIKE '%data scientist%'
           OR name ILIKE '%data science%'
           OR name ILIKE '%исследователь данных%'
           OR (name LIKE '%ML%' AND name NOT ILIKE '%HTML%')
           OR name ILIKE '%machine learning%'
           OR name ILIKE '%машинн%обучен%')
GROUP BY experience
ORDER BY experience
        '''

In [85]:
# результат запроса
df_6_6 = pd.read_sql_query(query_6_6, connection)
df_6_6

<ipython-input-85-12f33d1ad98b>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_6_6 = pd.read_sql_query(query_6_6, connection)

           experience     round
0           Нет опыта   74643.0
1  От 1 года до 3 лет  139675.0
2       От 3 до 6 лет  243115.0

In [121]:
# закрыdftv соединение после окончания работы
connection.close()

***

In [ ]:
#Выводы по предметному анализу:

#Общий объём вакансий в Data Science:
#В базе представлено 1 771 вакансий, связанных с обработкой и анализом данных.

#Вакансии для Junior-специалистов:
#Для кандидатов без опыта (Junior Data Scientist) доступно 51 позиция.

#Требования к навыкам:
#229 вакансий для Data Scientist включают SQL/PostgreSQL в список ключевых технологий.
#357 позиций требуют знания Python как основного навыка.

#Средние показатели:
#На одну вакансию для Data Scientist приходится 6.41 ключевых требований к навыкам.

#Зарплатные ожидания по опыту:
#Средние значения указанной зарплаты:
#Без опыта:
#74 643
#1–3 года опыта: 139 675
#3–6 лет опыта: 243 115

## Общий вывод по проекту

# **Итоговый вывод по проекту:**

Ключевые тенденции рынка Data Science:

1. Конкуренция и входной барьер:

*   Сфера характеризуется высококонкурентной средой с ограниченным количеством позиций для начинающих специалистов (Junior-уровень).

*   Опыт работы остаётся критически важным критерием, что создаёт сложности для новичков при входе в профессию.

2. Требуемые навыки:

*   Python и SQL — ключевые технологии, указанные в >80% вакансий.

*   Растёт спрос на владение современными ML-фреймворками (PyTorch, TensorFlow), что отражает эволюцию технологического стека.

3. География и форматы работы:

*   Москва и Санкт-Петербург доминируют по количеству вакансий (>60% от общего
числа), что подчёркивает региональную концентрацию возможностей.

*   Удалённый формат и гибкий график становятся стандартом, повышая привлекательность работодателей.

**Рекомендации для соискателей:**

1. Фокус на навыках:

* Приоритизировать изучение Python, SQL и ML-алгоритмов.

* Осваивать инструменты для работы с большими данными (Apache Spark, Hadoop).

2. Наращивание опыта:

* Участвовать в стажировках, хакатонах и open-source проектах.

* Публиковать кейсы на платформах (GitHub, Kaggle) для формирования портфолио.

**Рекомендации для работодателей:**

1. Поддержка новичков:
* Создавать стажёрские программы и менторские инициативы для привлечения молодых специалистов.

2. Региональное развитие:

* Расширять вакансии в городах-миллионниках (Екатеринбург, Новосибирск) для снижения дисбаланса.